<!DOCTYPE html>
<html lang="en">
<head>
    <title>Identifikasi Mangrove</title>
	<!-- <link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' /> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="static/js/jquery.min.js"></script>
	<!-- Custom Theme files -->
	<link href="static/css/style.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body style="background-color: rgba(230, 230, 230, 0.4);">
    <!----- start-header---->
	<div id="home">
		<div>
            <div class="home-logo">
                <a href="{{ url_for('home') }}">
                    <img class="logo-home" src="/static/images/logo usu.png" alt="logo usu">
                </a>					
            </div>
            <div class="clearfix"> </div>

		</div>
	</div>
	<!----- //End-header---->
    <!-- Content -->

    <div class="content">
        <div class="container">
            <div class="row vertical-center">
                <div class="col-md-6 m-50">
                    <h6 class="bg-text-nim">141402020 - ARIF MAULANA</h6>
                    <h1 class="title-skripsi">PROGRAM SKRIPSI</h1>
                    <p>Identifikasi Tingkat Kelayakan Hidup Jenis Mangrove Desa Pulau Sembilan Berdasarkan Kandungan Air Menggunakan Long Short Term Memory</p>
                    <a class="btn btn-success" href="{{ url_for('training') }}">Training</a>
                    <a class="btn btn-success" href="{{ url_for('testing') }}">Testing</a>
                </div>
                <div class="col-md-3">
                    <div class="d-flex justify-content-center">
                        <img class="img-logo" src="/static/images/logo_mangrove.png" alt="mangroove">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Content -->
</body>
</html>